<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DataSource" connectionString="Server=localhost\sqlexpress;Database=MovieDB;TrustServerCertificate=True;Trusted_Connection=True" />
  </connectionStrings>
  <appSettings>
    <add key="SaveDirectory" value="C:\\Logs"/>
    <add key="SaveFileName" value="test.txt"/>
  </appSettings>
</configuration>